[2022-01-12 01:01] Sing-Li opened #20 "TODO: Restyle the components"
Check community.rocket.chat for styling.  Restyle the existing components to the standard of community.rocket.chat

BE CAREFUL:
  - keeping ALL current reactJS components responsive, when shrunk to mobile format - ti should still be highly usable
  - do not add any global styling - do each components' styling in its own CSS module
   - maintain static generation, do not write components that force

[2022-01-12 01:04] Sing-Li opened #21 "TODO: Fix the Discourse Module"
Current Discourse module will keep populating the top ranking list to 10s or 100s of entries.

Re-implement the logic to select the TOP N entries - with N anywhere from 3  to 15 ONLY.

Define a "module structure" that makes sense for these sort of "full stack reactjs components", beware it will always be executing on nextJS  (keep to JAMStack ideals).

Keep this work on ONE SINGLE PR.

[2022-01-12 01:06] Sing-Li opened #22 "TODO: Implement quick commercial auth"
Implement React authentication components for:

1.      Firebase
2.     Auth0

Take the simple and direct route first as POC.   Then start thinking of adding a "super profile" associated with the user account.

[2022-01-12 01:09] Sing-Li opened #23 "TODO: Implement open source auth -- GLUU"
Implement React component for Gluu Authentication.

Start with simple auth as POC.

Starting thinking about extending to maintaining a super profile assiciated with each user record.

Work with other auth implementers to make sure the component's intterfaces are compatible.

[2022-01-12 01:09] Sing-Li opened #24 "TODO: Implement open source auth Keycloak"
Implement React component for Keycloak Authentication.

Start with simple auth as POC.

Starting thinking about extending to maintaining a super profile associated with each user record.

Work with other auth implementers to make sure the component's interfaces are compatible.

[2022-01-12 01:10] Sing-Li opened #25 "TODO: Implement Super Profile for User entries"
Work with all of the auth implementer to determine the best platform for maintaining a  super profile associated with each user.

[2022-01-12 01:12] Sing-Li opened #26 "TODO: Improve Rocket.Chat integration"
Add back the "Click to Chat" button as it is on community.rocket.chat

We will want to create a new user entry into our Super Profile - when an existing user with a Rocket.Chat account first access the site.

[2022-01-12 01:14] Sing-Li opened #27 "TODO: Add Github Integration component"
Create a full-stack React component that displays the top 3 to 15  issues from Github. - ranked based on a set of pre-defined filters   (most voted up, for example).

This component should be very similar to the existing Discourse component.

[2022-01-12 01:17] Sing-Li opened #28 "TODO: Implement Jitsi Video Conference component"
Create a reactJS component from the Jitsi web SDK.

This component should enable community members to video conference with one another in:

- 1 to 1 calls
- scheduled meetings
- scheduled virtual events

[2022-01-12 01:19] Sing-Li opened #29 "TODO: Create Big Blue Button Video conference/meet/classroom Component"
Create a reactJS component for Big Blue Button - you may need to work closely with the Big Blue Button team.

This component should enable community members to video conference with one another in:

scheduled meetings
scheduled virtual events
scheduled virtual classes

[2022-01-12 01:20] Sing-Li opened #30 "TODO: Create a Forem component"
Create a React component encapsulating the UI of Forem.

Test the resulting component with dev.to.

[2022-01-12 01:23] Sing-Li opened #31 "TODO: Create a Leaderboard Component"
Based this React component's interface on the existing GSoC Leadeboard.

Keep the interface flexible for repurposing as Game players' Leaderboard.

[2022-01-12 01:24] Sing-Li opened #32 "TODO: Create a whiteboard component"
Create a React component for BoardX  - enabling visual collaboration between community members.

[2022-01-12 01:26] Sing-Li opened #33 "TODO: Create a Discord component"
Create a React component to integrate Discord.

Use the existing Rocket.Chat integration as a template and expand into Discord specific featureas.

[2022-01-12 01:28] Sing-Li opened #34 "TODO: create a Stack Overflow component"
Create a React  based Stack Overflow "top list" or "current list" component based on configurable criterion.

Model this one close to the existing Discourse component.

[2022-01-12 01:30] Sing-Li opened #35 "TODO: Create a Hacker New component"
Create a React based Stack Overflow "top list" or "current list" component based on configurable criterion.

Model this one close to the existing Discourse component.

[2022-01-12 01:31] Sing-Li opened #36 "TODO: Create a Reddit component"
Create a React based Stack Overflow "top upvoted list" or "current list" component based on configurable criterion.

Model this one close to the existing Discourse component.

[2022-01-12 01:32] Sing-Li opened #37 "TODO: Create a Poll Component"
Adapt existing Poll + Rocket.Chat app as a React components for polling of community members.

[2022-01-12 01:35] Sing-Li opened #38 "TODO: Create a virtual conferencing component"
Creaete a React component for conducting virtual conferences between community members.

Re-use the Jitsi or  Big Blue Button component if it makes sense.

[2022-01-12 03:19] Sing-Li opened #39 "TODO: Create a matrix.org component"
Create a React component using the matrix Javascript SDK npm module.

Allows community members to collaborate via embedded federated channels.

Also enabling matrix for federated subscriptions  on data channels.  (such as real time distirbuted score updates)

[2022-01-12 03:28] Sing-Li opened #40 "TODO: Integrate an NFT marketplace"
Create a React component that adds NFT marketplace integration for community members.

Investigate possibilities with OpenSea and other trending marketplaces.

[2022-01-12 03:32] Sing-Li opened #41 "TODO: Create an integration surfacing browser supported wallet"
Create a React component that surfaces the features of browser integrated crypto wallets for community members,   such as via MetaMask extension or via built-in wallet of the Brave browser.

[2022-01-13 07:50] demonicirfan commented on #20
I will work on this issue can you please assign it to me

[2022-01-13 08:15] RonLek commented on #20
@demonicirfan you're assigned. Please set-up the project and continue.

[2022-01-14 05:58] demonicirfan commented on #20
### Can you please clear some of my doubts
- Should I remove react-bootstrap completely and use CSS  only ( _as some of the components are using bootstrap and others are using CSS_).
- I think in some part's design can be improved should I attach the Figma file for their design here when it is ready.
- I should make it look exactly the same as community.rocket.chat page.
- Are there any deadlines

[2022-01-14 14:11] Sing-Li commented on #20
Please keep react-bootstrap and KEEP USING IT, INCLUDING BOOTSTRAP DESIGN GUIDELINES / PRINCIPALS / THINKING.

So part of the tidying up work -- is to migrate those components that currently use CSS into BOOTSTRAP  (if possible)

For example, current Carousel component is NOT the react-bootstrap one, that is because the effect we want cannot be achieved by the react-bootstrap carousel.   We show m

[2022-01-14 14:14] Sing-Li commented on #20
I agree with @RonLek  that we should

(1) keep this PR simple
(2) just clone community.rocket.chat on this PR
(3) get it done as soon as possible

ANY enhancment, improvement, re-design should NOT be the scope of this PR - and should not delay its completion.

[2022-01-14 19:41] demonicirfan commented on #20
I am working on the coding part, I was trying to improve the design till now, I have completed the design made some changes so that it looks a little better. I'm attaching the[ Figma file ](https://www.figma.com/file/5tkzbddn9bEyBmAdbn3xij/Rocket.Chat.Commuity) link. I have started working on it. It will take me around 3 days to completely code it. Please let me know if I should code this design o

[2022-01-14 20:09] Sing-Li commented on #20
Good work!    I do like the new design quite a bit.  Just two comments:

1.   The carousel/slider should reduce from 4 to 2 going full width to mobile  (not as per design of 3 to 1)

2.  Please make sure you EXTEND each React components to be configurable with your new design; and not hard-code the new design directly into the components   (because community.rocket.chat is just one single sample u

[2022-01-14 20:12] Sing-Li commented on #20
One suggestion:  when crafting the infotiles components - please try to keep them flexible and able to incorporate Icon/images in additional to text (if possible).

[2022-01-15 04:07] demonicirfan commented on #20
Thanks for the feedback I will try to complete it as soon as possible keeping all points in mind

[2022-01-16 11:53] demonicirfan commented on #20
@Sing-Li the the last section of the page in the file [/components/discourserankedlist.js](https://github.com/RocketChat/RC4Community/blob/master/app/components/discourserankedlist.js) receiving empty array.I was unable to figure it out why is it not working maybe some problem with the backend not receiving anything in the toposts arrays...
![image](https://user-images.githubusercontent.com/741724

[2022-01-16 14:01] RonLek commented on #20
@demonicirfan as mentioned in our chat, you'd need a [Discourse server](https://github.com/discourse/discourse) running with the env variables `DISCOURSE_DOMAIN`, `DISCOURSE_API_USERNAME`, `DISCOURSE_API_KEY` to be able to populate data. Do you have this set up?
The [fetchTopPosts.js](https://github.com/RocketChat/RC4Community/blob/master/cms/config/functions/fetchTopPosts.js) file is where we fet

[2022-01-16 14:11] demonicirfan commented on #20
Let me try this

[2022-01-16 19:10] abhinavkrin commented on #22
The user id of firebase, auth0, and other providers would be different. Do we have to give an option for choosing auth provider? In that case, I think we need to have a global user_id and associate user_id's by these providers to the one global userId?

[2022-01-17 10:51] demonicirfan commented on #20
The Code is complete now I am trying to clean the code because it is a mixture of CSS and bootstrap (the code does not look good to me) maybe because I used bootstrap for the first time.

## I have some doubts -
1 - I am not able to get rid of the drop-down icons on the navbar(so that it looks similar to the design) i tried most of the solutions on the internet. Can I create navbar with vanilla CS

[2022-01-17 16:23] RonLek commented on #22
@abhinavkrin we intend on providing the user (the community builder) a choice over using any provider (standalone or combined). This means a user can choose to either use a standalone provider (1 out of firebase, auth0, gluu, keycloak) or a combined solution (firebase + gluu), with the latter case being for when they start feeling firebase no longer suffices their usecase and they want to integrat

[2022-01-18 07:36] demonicirfan commented on #20
Except the Navbar all components are done i am making PR, please review it

[2022-01-18 07:52] demonicirfan commented on #20
- I have not used any library for icons used SVG's instead.
- After this, I will try to improve the code and after it is done I will make one more pr it may take time.
- I used bootstrap for the first time so i will try to clean up the code further ( bcz u said to do it as soon as possible so i made a PR)

[2022-01-19 00:11] Sing-Li commented on #22
@abhinavkrin  more specific answer.

There should be two separate and independent ReactJS components on this PR:

one component handling  firebase

one component handling  auth0

Any Community Builder using RC4Community should add either component to their site and gain auth via that provider.

Do not, and there is no need to combine the two services into one ReactJS component.

Hope that is clear

[2022-01-20 10:43] Himanshu664 opened #43 "[BUG]: Header logo is not loading"
## Description
I found a bug in the header part in https://community.rocket.chat/ , source of img is not valid

![InkedScreenshot 2022-01-20 160643_LI](https://user-images.githubusercontent.com/76220055/150323289-3dcc7911-18bb-49a1-865f-1af12fbeb527.jpg)

[2022-01-20 15:09] RonLek commented on #43
@Himanshu664 please feel free to raise a PR.

[2022-01-22 02:29] Sing-Li commented on #20
@demonicirfan    I have merged your initial implementation.   Others can work on top of the restyled components that way.

Please continue your work on a separate PR and ping me when ready.  Thanks.

[2022-01-22 02:34] Sing-Li opened #44 "TODO: Make the home page more friendly to Community Builders"
Restyle the first page to make it more friendly to community builders.

[2022-01-23 15:26] samad-yar-khan commented on #31
@Sing-Li  I would like to work on this, can you please assign this to me.
I had a few questions :

- Should the UI be similar to the hosted leader board component ?
- Where should the component be placed ? Should it be placed under the Events/GSOC section ?

[2022-01-23 18:43] RonLek opened #49 "[FEATURE] Introduce Code Standards"
Add [pre-commit](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks) hooks for:
- [gitlint](https://jorisroovers.com/gitlint/).
- code lint and formatting.

[2022-01-24 09:32] demonicirfan commented on #49
I want to work on this can you assign it to me

[2022-01-25 15:31] #43 closed

[2022-01-25 16:58] Sing-Li commented on #31
1)  yes.  Identical if possible.
2)  add a NextJS client route there  at  `/gsoc/gsoc2022/leaderbaord`    or similar

In addition, the component should cater for, independently all of:
*  static generation (data fetch) at site build time
*  dynamic per request update (data fetch)
*  server-side rendering

[2022-01-25 22:16] samad-yar-khan commented on #31
@Sing-Li got it ! I will start working on it right away 👍

[2022-01-26 01:53] Sing-Li opened #56 "TODO: Add a video streaming viewer component"
Like a youtube viewer.   Shows thumbnail of video .   Upon clicking starts to play video.

Enable "standard" playback controls of the underlying libray.

Make sure it can efficiently support multiple instances on one page.

[2022-01-26 01:56] Sing-Li opened #57 "TODO: Add a form fill component"
Create a component that manages an interactive form to be filled.

Form data should be pushed to our persistence implementation data lake.

An indication if that form has been filled already, should be part of the Superprofile.

Make sure multiple instances on a page is easily handled.

[2022-01-26 15:19] samad-yar-khan opened #58 "[BUG] Console Warning/Errors"
### Description:

Whenever the app is loaded we see some console warnings/errors. These are there due to the following reasons :

1. JSX Typing errors.
2. Not passing `key` props to components.
3. Nesting Button inside another component which represent buttons.
4. Not Passing id props to Menus/Forms.

### Steps to reproduce:

1. Run the CDN and APP.
2. Open browser.
3. Checkout the Console.

### E

[2022-01-28 04:13] Sing-Li opened #60 "TODO: Create a "live" GSoC 2022 section"
Create menu hierachy to support our GSoC and GSoD Communities:

Community
    Google Summer of Code 2022
         Program information   --->  https://docs.rocket.chat/contributors/google-summer-of-code/google-summer-of-code-2021
         Introductions  --->  https://open.rocket.chat/channel/gsoc2022
         Team -->  https://open.rocket.chat/channel/google-summer-of-code
         Leaderboard ->

[2022-01-28 04:29] Sing-Li commented on #31
@samad-yar-khan   please start a WIP PR and commit your work frequently.    This will enable us to review it as you code -- so there won't be misunderstanding or time wasted.  Thanks.

[2022-01-28 04:44] demonicirfan commented on #60
I'm working on this one

[2022-01-28 12:47] samad-yar-khan commented on #31
@Sing-Li I will just raise a WIP PR by tonight. I am sorry the work got a bit delayed because I was trying to just go through the  NEXT.JS documentation, as I wasn't fully familiar with all features of the framework. But now I am through with it and it development should be quicker :sweat_smile:

[2022-01-28 13:50] Sing-Li commented on #31
@samad-yar-khan  no problem at all.   It is very important to understand why this project is based on NextJS and why NextJS exists at all (what value does it add - why don't we just create React app with standard JS toolchain directly and serve it with Nginx) 👍

[2022-01-28 20:51] samad-yar-khan commented on #31
@Sing-Li Yes, read the docs and went through some videos made by the the Vercel team. I understand how NextJS can be useful for multiple reasons, the primary one being able to generate server side rendered pages at build time, leading to better SEO. Can you take a look at the PR. I Think I have added all of the functionality of our original leaderboard.

[2022-01-28 22:22] Sing-Li opened #64 "TODO: Setup 2022 GSoC Alumni Virtual Conference at community.rocket.chat"
*  announce and manage the signup , and operations of the virtual conference at community.rocket.chat

[2022-01-28 22:25] Sing-Li opened #65 "TODO: upgrade our production deployment environment"
Add a nodeJS server at our deployment site, behind nginx ,  and run nextJS as production there.

[2022-01-28 23:30] Sing-Li commented on #31
@samad-yar-khan amazing work!   Thank you!    Please see my comments in-line.    I think turning it into a more flexible component will enable our Community Builders to better flexibly design their pages containing the leaderboard.

[2022-02-02 09:43] ishubham21 commented on #44
Hi @Sing-Li can you please elaborate more on what you are expecting to get done under this issue? I'd be happy to help.

[2022-02-02 12:11] samad-yar-khan commented on #21
@Sing-Li I would like to work on this issue. So we store the top N entries from the request in our CMS, repopulate them at intervals using cron jobs and make the top N entries accessible to the NextJS component depending on the parameters given to component ?

[2022-02-03 06:01] #31 closed

[2022-02-03 17:40] samad-yar-khan opened #69 "TODO : Add documentation for Open-Source Leaderboard Component"
Add Documentation for Open-Source Leaderboard Component so it can be easily used by community builders.

[2022-02-03 21:20] #69 closed

[2022-02-03 23:32] Sing-Li opened #72 "TODO: Add a components kit to support self-hosted Gitlab"
Duplicate the community builder's experience of the Github component kit -- for a self-hosted Gitlab instance,

[2022-02-04 11:20] RonLek commented on #21
@samad-yar-khan that's correct. If you see the current codebase, we have a cron function [calling](https://github.com/RocketChat/RC4Community/blob/master/cms/config/functions/cron.js#L23) the `fetchTopPosts` function. Instead of storing all possible entries store only the top N within the CMS.

[2022-02-04 11:56] samad-yar-khan commented on #21
@RonLek Got it ! I will start working on this.

[2022-02-06 17:57] samad-yar-khan opened #75 "[TODO] Refactor Leaderboard Component"
Description :

Refactor Leaderboard into two components :

- Main `leaderboard.js` which can be accessed via the dynamic route at -> root/gsoc/gsoc2022/orgname
- Reusable `leaderboardcompact.js' which can be used any where by communities.

[2022-02-09 11:49] Sing-Li commented on #56
First cut is available here  https://github.com/RocketChat/RC4Community/commit/650e4b1c4d1d3271cf9a85695b9f310e5d8c6375

[2022-02-09 11:51] Sing-Li commented on #38
This composes a chat component with #56

[2022-02-09 12:48] sidmohanty11 commented on #38
@Sing-Li I would like to work on this issue

[2022-02-18 14:09] nishant23122000 commented on #28
@Sing-Li  Would like to work on that.

[2022-02-18 14:15] Sing-Li opened #79 "Create a data-supplier component that wraps a collection of others"
Investigate into the possibility of creating a component that takes `datasource`  (strapi, URL to JSON, URL to CSV)  and populate its children components iteratively with that data.   Without:

1) touching or modifying the styling of its children
2) having any major assumption about its childrren  (except perhaps an exported data population method)

[2022-02-18 14:29] abhinavkrin commented on #79
Hi @Sing-Li , could you give me an example? I would like to work on this issue.

[2022-02-18 23:20] Sing-Li commented on #79
See this ...

https://github.com/RocketChat/RC4Community/issues/79

Simplified to:

[code]

 Hope you get the idea.

[2022-02-19 05:36] Dnouv commented on #57
Hello @Sing-Li
I am interested in working on this issue; however, I have some questions regarding this issue; if it is ok with you, can we discuss this in more detail in the #general channel? Please let me know then I will ping you.
Thank you!

[2022-02-19 05:57] sidmohanty11 opened #80 "Manage each component as independent npm module"
I wonder if we can move these down to the componenet level -- making each one of our components an indepdendently installable npm module (optionally).

_Originally posted by @Sing-Li in https://github.com/RocketChat/RC4Community/pull/78#discussion_r805189033_

[2022-02-19 19:48] Dnouv commented on #22
Hello @RonLek
I would like to work on this issue. Will you please confirm whether it is available to work?
I am looking forward to hearing back from you.
Thank you!

[2022-02-20 15:40] Sing-Li commented on #80
@sidmohanty11     Absolutely 😍 to see this.   It was in the long term mind-roadmap  (I didn't think we'd reach this point in 2022 actually)

But if you can do this (or set the foundation)  NOW - it would be amazing.

[2022-02-20 15:43] Sing-Li commented on #80
@sidmohanty11   but this *does* entail a Proof-of-Concept by moving ALL our current components to npm format.

Please don't overload the current PR with all the components, but start separate ones for each (group of) component.   Or even advise team-mates of the "how" and let them take care of  nmp'ing their own modules.

[2022-02-20 18:24] sidmohanty11 commented on #80
@Sing-Li  Sure! As this is going be a big change, let me prepare a full-proof working model design (that can be helpful for people joining in, they can also understand the flow) and I will share you my process on the way.

[2022-02-21 19:28] Sing-Li commented on #57
@Dnouv   please feel free to post right here or ping us at this channel  https://open.rocket.chat/channel/form-fill-component-details    Thanks.

[2022-03-04 15:07] debdutdeb opened #88 "Set up a keycloak server"
link #87

[2022-03-12 11:24] Sing-Li commented on #88
@debdutdeb best to revive the old one (I think it is already running) if this takes longer than 8 days.

[2022-03-12 18:35] debdutdeb commented on #88
Ready to use - [[redacted]] 😬 last week wasn't a good one.

[2022-03-12 18:35] #88 closed

[2022-03-12 19:04] Dnouv commented on #28
Hello @Sing-Li
I would like to work on this issue. Hello, @nishant23122000 if you ain't working on this issue please let me know.
Thank you!

[2022-03-13 07:33] Dnouv commented on #41
Hello @Sing-Li,
I would like to work on this issue. As for the initial start idea, I've planned to integrate the `MetaMask` API in a component. So it will be something like a button `Connect MetaMask` when the user clicks on this button a window will popup for authentication with MetaMask and after the successful authentication, the user data returned from the MetaMask will be shown in a small Mod

[2022-03-13 16:12] samad-yar-khan opened #90 "[TODO] Revamp Github Component Kit"
Description :

The Current Github Component Kit has the following issues :

- The current kit has multiple components which are used using different tags ,this makes it more complicated to use
- The database design for the component is not suitable for multiple repositories
- The current kit does not have a pull request component

Proposed Changes

- Create a single `<Github ... />` tag which can

[2022-03-17 12:34] #58 closed

[2022-03-20 19:56] nipunayf opened #95 "[BUG] Unable to load the community logo"
The community logo in the home page does not appear after loading the page.
<img src="https://user-images.githubusercontent.com/59343084/159180034-d5732cd1-e5a8-48bd-b0ab-5aaf183d150e.png" width="600"/>

The attached URL points to a resource that does not exist.
<img src="https://user-images.githubusercontent.com/59343084/159180049-5da95d9a-ef0c-4352-8e39-1cdfeae2e7ee.png" width="600"/>

**Browser

[2022-03-24 06:37] progmatic-99 commented on #95
It's visible to me.

![Screenshot 2022-03-24 at 12-06-14 Create Next App](https://user-images.githubusercontent.com/42090582/159856930-0a69f0fd-c821-4309-8482-c5c8286b194b.png)

[2022-03-26 15:22] #90 closed

[2022-03-27 07:28] sidmohanty11 commented on #95
It's fixed here: https://github.com/RocketChat/RC4Community/pull/46

[2022-03-27 21:22] samad-yar-khan opened #101 "[BUG] Missing date_time and duration field of speaker schema and manual updation of `Live` and `Ended` fields of speaker"
### Description

- Currently the speaker speaker schema does not have a `date_time` field to specify the time and date of the speaker session / talk.
- The speaker schema does not have a `duration` field to specify the estimated duration of a speakers talk on the main stage.
- The `live` and `ended` fields of the speaker schema have to be **manually updated** to specify if a speakers session is cu

[2022-03-28 19:43] samad-yar-khan opened #105 "[BUG] Build Error Due to `MdPreview` Component"
Description :

Build errors due to accidentally omitted `MdPreview` Component

[2022-03-30 11:29] demonicirfan opened #110 "[ADD] emoji animation to ```livechat``` component"
Description :

Add emoji animations to live chat component and responsive video and chat component

[2022-03-30 16:36] samad-yar-khan opened #113 "[TODO] Make a re-usable Announcement Component"
Description  :

Make a Re-Usable Announcement Component which can display relevant announcements on top of any page .

[2022-04-03 08:07] irffanasiff opened #120 "[FIX] typography, responsiveness and UI of Mainstage"
Description :

Typography, responsiveness, and UI of the mainstage page along with animation.

[2022-04-03 08:14] #110 closed

[2022-04-03 12:25] samad-yar-khan opened #122 "[FIX] Broken Footer Logo"
Description :

Footer Logo is not working

![image](https://user-images.githubusercontent.com/70485812/161427935-f838a265-ab7d-4411-b1f1-aa9c82fa2156.png)

[2022-04-05 15:17] samad-yar-khan opened #128 "[BUG] Showing Default Favicon"
Description :

The favicon has not been updated and still shows the vercel logo

![image](https://user-images.githubusercontent.com/70485812/161787357-03a938dd-4014-4d45-8e54-2ba8ec0903b1.png)

[2022-04-05 21:51] samad-yar-khan opened #131 "[BUG] Jitsi Logs Visible to Client"
Description :

The Jisti logs are visible to the client

https://user-images.githubusercontent.com/70485812/161855655-84ff7566-5670-4c5a-9e1f-cb9ed7c36873.mp4

Expected Behavior :

Hide Jitsi Logs from Client

[2022-04-06 14:28] Sing-Li opened #140 "[TODO - Urgent] Remove all count down and local time hacks on mainstage"
Please remove all count down and local time hacks on mainstage page.

Put static time with Brazilian time zone in all events.

We've learnt the hard way this time around why this just doesn't work.   Thanks.

[2022-04-08 19:07] Sing-Li opened #142 "[TODO] Add reddit subs component for NFT / crypto communities"
Including subs such as `r/etherum`

[2022-04-08 19:09] Sing-Li opened #143 "[TODO] Add token / blockchain analytic tools and chain inspectors components"
Add components to support various chain inspectors and analytics tools.

[2022-04-08 19:13] Sing-Li opened #144 "[TODO] Add instant snap pix to IPFS component - for Person to Person Commerce"
Must work well in mobile.   The component enables the snap shot of a product and instantly upload it to IPFS creating a CID that can be accessed globally.

No need to keep this storage for more than a day or two - IPFS is perfect.

Component must work perfect on mobile.

[2022-04-09 01:09] #122 closed

[2022-04-09 01:09] #105 closed

[2022-04-09 01:09] #75 closed

[2022-04-11 09:59] PriyaBihani commented on #144
@Sing-Li would you explain it in a little more detail ?

[2022-04-17 16:41] Sing-Li commented on #140
Thanks for @demonicirfan  for fixing this.    Closing now.

[2022-04-17 16:41] #140 closed

[2022-04-22 17:20] #101 closed

[2022-05-05 14:06] Dnouv opened #152 "[TODO] Add a Map Component"
Investigate and add an Open Source Map Library Component such as Leaflet, OpenStreetMap. Which will be helpful for community creators to advertise their shop location.

Thank you!

[2022-05-22 14:18] Sing-Li opened #156 "[TODO] Create a simple-local-auth component to improve out-of-box DevEx"
Create a compatible (no changes to current auth API)   auth component that uses local DB and only has userid field.

Keep this component as simple as possible ( it will never be used in production, only in dev and testing).

[2022-05-23 04:42] Abusayid693 opened #158 "[BUG] hamburger menu is missing a bar"
![Screenshot 2022-05-23 at 9 58 55 AM](https://user-images.githubusercontent.com/35341198/169744787-8036af02-2b74-472a-b589-5788de75da77.png)

### Expected behaviour
![Screenshot 2022-05-23 at 9 22 25 PM](https://user-images.githubusercontent.com/35341198/169858799-e56717cd-5684-4853-a020-0d94878ebc03.png)

@Sing-Li Any thought on this, it seems missing

[2022-05-26 01:04] Abusayid693 opened #160 "[FEATURE] Proposal for Handling all REST api services with axios instance by seperating into modules"
Currently the client app uses both **axios and fetch api** spread across many places. It will better to adapt one single solution using axios instance for different services and separating methods into separate modules for **application scalability**.

Since the application is in early development stage I believe it will be easier to adapt these changes.

Ex :

https://github.com/RocketChat/RC4Com

[2022-05-26 16:12] Sing-Li commented on #160
Interesting idea.   Any reason why you would choose axios over fetch ?

[2022-05-26 16:20] #158 closed

[2022-05-26 16:24] Sing-Li opened #161 "[TO DO] Migrate to Strapi 4"
It is inevitable and seems Strapi 3 may not be moving to latest LTS of node, causing us dire dependency problems -- and destroying the out-of-box dev experience.

[2022-05-26 22:01] Abusayid693 commented on #161
I will look into it

[2022-05-26 22:53] Sing-Li commented on #161
Awesome.  Please work with the team.   A lot of work has gone into this already.  There are a few items remaining.    See the work yet to be done and please add to that master PR --  https://github.com/RocketChat/RC4Community/pull/162

[2022-05-27 06:47] Abusayid693 commented on #160
One major reason would be because of **compatibility** as it has wide browser support whereas Fetch only supports Chrome 42+, Firefox 39+, Edge 14+, and Safari 10.3+.

Since we are already using **Axios** in lot of places we can stick to it, So when application scales it would provide better developer experience of using one single solution instead of multiple and would be easier to adapt changes.

[2022-05-28 12:39] Dnouv commented on #161
Hello @Abusayid693
Thank you for your interest, please feel free to have a look at the PR- #162 . And if you have any doubts, please feel free to comment here, or on the RC Open server, we have a friendly community that will definitely help you out.
Looking forward to your contributions. Thank you!

[2022-05-28 13:28] #65 closed

[2022-06-01 09:24] pixinclick opened #163 "."

[2022-06-01 09:28] irffanasiff opened #164 "[ADD] styles for nft avatar"
This commit adds nft avatar styles to the navbar
- Replace the image url to use it
- To switch between normal avatar and nft avatar set the ```pfpIsNFT``` variable true or false respectively

[2022-06-02 16:33] Sing-Li opened #166 "[TO DO] Remove Users and Permissions Plugin"
We should never run strapi in production.

There is no strapi "security concern" per se - since it should only be ran locally during development and site gen.

We can use the default users with no permissions, this will make INITIALIZE_DATA a lot more streamlined (less bloated security / perm code).

Let's remove the users and permissions plugin (if at all possible).

[2022-06-03 14:04] #163 closed

[2022-06-22 10:46] omkarg01 commented on #164
https://github.com/RocketChat/RC4Community/blob/13b5926cfb2029af283bf95bc6995f41fa1ffd73/app/components/auth/rocketchat/ui/RocketChatAuthMenuButton.js#L35-L41

By what, image URL needs to be replaced with?
@demonicirfan may I get help with that.

[2022-07-03 19:24] debdutdeb opened #172 "[TODO] Add prettier and eslint configs"

[2022-07-03 19:25] sidmohanty11 commented on #172
I would like to work on it @debdutdeb sir!!

[2022-07-03 19:47] debdutdeb opened #173 "[todo] fix ci"

[2022-07-04 19:01] sidmohanty11 opened #175 "Tons of linting error in `app` directory"
These linting errors need to be fixed!

![image](https://user-images.githubusercontent.com/73601258/177206578-ea8a7865-1ec0-4e6d-9806-708e4b443db3.png)

[2022-07-08 11:06] msabirz commented on #175
Should I take it up?

[2022-07-09 06:55] sidmohanty11 commented on #175
@msabirz sure

[2022-07-09 13:01] msabirz commented on #175
Pls assign it to me

[2022-07-09 13:06] sidmohanty11 commented on #175
@msabirz I'm sorry, I am not capable of doing that. @debdutdeb @Sing-Li can you help?

[2022-07-09 13:07] msabirz commented on #175
Ok pls do the needful

[2022-07-09 13:54] msabirz commented on #175
I am taking this

[2022-07-09 14:05] debdutdeb commented on #175
Alright @msabirz pls communicate any concerns or questions on our contributors channel. This is a very crucial task, I was going to take it on, thanks for volunteering.

[2022-07-09 14:09] msabirz commented on #175
sure @debdutdeb

[2022-07-09 14:16] sidmohanty11 commented on #175
@msabirz FYI, this is our contributors channel -> https://open.rocket.chat/channel/contributors

[2022-07-09 14:38] msabirz commented on #175
Thanks

[2022-07-14 16:23] Sing-Li commented on #161
Completed in #162

[2022-07-14 16:24] #156 closed

[2022-07-17 13:49] Sing-Li opened #176 "Remove Leaderboard components"
The GSoC leaderboard server has been unstable lately.

Unfortunately the leaderboard components have code that will crashes the entire app whenever a REST API fails.   This will block any developers trying to work on the code.

We will remove the components for now.    @samad-yar-khan indicated that he will fix this problem soon.

[2022-07-17 13:54] #64 closed

[2022-07-17 14:44] #176 closed

[2022-07-19 17:51] Sing-Li opened #178 "[ToDo] upgrade strapi to 4.2.0 and test"
bring it up to date, test docker container deploy

[2022-07-19 17:55] #178 closed

[2022-09-12 03:11] Sing-Li commented on #172
Going to close this.  It is causing confusion for new contributors.

[2022-09-12 03:11] #172 closed

[2022-09-12 12:49] Sing-Li opened #182 "[TO DO] Backport advanced features from RC4Conferences to this outdated repository"
Evolution of the RC4Community platform has been happening on RC4Conferences project.  Both the architecture and support has been advanced significantly.

This included:

* auth re-work
* data initialization improvement
* role-permission system on superprofile
* substantially more functional build-deploy script

It is now a good time to backport all those advanced changes back to this project.

[2022-09-12 12:51] Palanikannan1437 commented on #182
Hey @Sing-Li, it'd be awesome if you could assign this issue to me, I'd love to start working on this right away!😄

[2022-09-12 12:52] Sing-Li commented on #182
Looking forward to your PR  @Palanikannan1437

[2022-09-14 13:18] Sing-Li opened #184 "[TODO] Create a "Watch YouTube and chat Together" component"
Backport and adapt  the RC4Conferences "mainstage component" trivially  to create a  "Watch YouTube and chat together" component.

This component allows users to watch something on youtube together while chatting about it together in the embedded chat with one another.

Key point:   this component will make use of the auxiliary data available from the auth component on two levels:

1.  directly  -

[2022-09-14 15:43] Sing-Li commented on #184
Amazing progress you're making on #183  @Palanikannan1437 !     You're on  👍

They are quite related as it showcases the usage of the "auth" component(s) and how they typically integrates into the customized system.

[2022-10-06 13:42] Palanikannan1437 commented on #182
Thanks a ton @Sing-Li, but I do understand this was just a very basic feature that I've implemented and back-ported ,and this is just the start....hopefully with time I would be able to learn a lot and make some significant contributions as well!!

I'm sure I'll learn a lot while implementing #184! Thanks @Dnouv for the constant guidance and quick responses!!

[2022-10-06 15:07] Sing-Li opened #185 "[TODO] Extend Rocket.Chat Auth for Google Auth to support Github Auth"
Using the existing  "Rocket.Chat Auth for Google Auth Component" as a framework,  add support for the following Rocket.Chat auths:

*   Github
*   Simple email

The existing component should be extended, instead of new components created -- since they're all Rocket.Chat auths.

(it may be a good idea to keep each supported auth as a sub-component/plugin of the auth  - hence using it as a framework

[2022-10-09 03:07] Sing-Li commented on #182
- [x] auth re-work

- [ ] data initialization improvement

- [ ] role-permission system on superprofile

- [ x] substantially more functional build-deploy script

[2022-10-09 03:09] Sing-Li commented on #182
@Palanikannan1437  and @Dnouv   superprofile has been back ported here - please bring over the data initialization improvement and role-permission system  (only the parts that are generic and doesn't deal with open-event)  when you get a chance.

[2022-10-09 03:31] Sing-Li opened #186 "[TODO] Update gitpod Yaml"
With the new all-in-one script from @Dnouv  -  the gitpod deployment is badly outdated and no longer works.

Need to get it updated to support volta based nodeJS/npm version declaration as well as flauna as superprofile in a docker container.

[2022-10-10 13:20] Palanikannan1437 commented on #182
@Sing-Li That was so quick!!⚡️

I'll start working on this once I'm done with #184 then 😁

[2022-10-15 15:32] Sing-Li commented on #175
@Palanikannan1437   seems  @msabirz has dropped the ball.    Do you think you can take this (should be straightforward and simple) task on?

[2022-10-15 15:33] Sing-Li commented on #175
Basically  `npm run lint` should be *clean*.   under both `app` and `cms` - thanks.

[2022-10-15 15:34] Palanikannan1437 commented on #175
Ohh yeah sure! I'll do this before #184 then

[2022-10-15 15:38] Sing-Li commented on #175
sure :pray:   #184  can take a while.  This one doesn't require a fast  Internet at all   🙂   🙏

[2022-10-15 15:44] Palanikannan1437 commented on #175
Sure thing!

Yup...ouch the internet thing still hurts🙃

Could you please assign it to me @Sing-Li

[2022-10-26 13:58] #175 closed

[2022-10-30 19:48] Sing-Li opened #190 "[TODO] Update to NextJS 13"
We have some catching up to do here now that 13 is released.

Anything that we've "winged it ourselves" and now part of the new NextJS we should try and leverage / use.

As usual, care should be paid to build-ability + CI wrt to NodeJS and npm versions especially in concert with strapi   (hopefully volta will make it a non-issue with this transition).

[2022-11-04 20:57] Palanikannan1437 commented on #182
@Sing-Li and @Dnouv could you please guide me as to what has to be done here?

[2022-11-05 06:11] #190 closed

[2022-11-05 07:02] Palanikannan1437 commented on #186
Hey @Sing-Li , I'd like to look into this.. could you please assign me this?

[2022-11-05 08:11] Sing-Li opened #195 "[TO DO] Clean up the components"
Under the `components` directory, there are currently many components that are taking parameterization directly.

All components under the `components` directory should be generic and re-usable on multiple `pages`

The components need to be cleaned up badly.

[2022-11-05 08:26] Palanikannan1437 commented on #195
Hey @Sing-Li, I'd like to clean up and parametrise the components.

Could you please assign me this issue?

[2022-11-05 08:27] Sing-Li commented on #195
Thank you very much @Palanikannan1437 !    Looking forward to the clean-up.

[2022-11-08 23:26] #195 closed

[2022-11-09 17:29] Sing-Li commented on #186
Thanks again @Palanikannan1437      This one is long overdue'd and will benefit almost all new explorers of our codebase  (Gitpod makes it *so easy* and non-committal )   🙏

[2022-11-09 17:31] Sing-Li commented on #186
Note that you'll likely want to leverage `prepared docker images` in the workflow to enhance the developer experience.

[2022-11-09 17:32] Palanikannan1437 commented on #186
Thanks a ton for assigning and guiding me constantly @Sing-Li, I've been going through the gitpod documentation and all existing scripts to get a better understanding!

[2022-11-09 17:57] #184 closed

[2022-11-09 18:01] Sing-Li commented on #186
Exactly 🙂

Ideally, the Gitpod user should be able to just paste in  our repository URL, then ....

1. bam boom boom kapow !!
2. a VSCode windows pops up, a web browser with the site pops up,  with all our servers running on Gitpod, and they can modif y the code immediately

That'll be the *dream* and *ideal* developer experience.

[2022-11-09 18:46] Palanikannan1437 commented on #186
This definitely is gonna be a super fun thing to work on...I love playing around with automation and scripts to automate my dev workflows!! (with alfred workflows and applescript for now🙃)

https://twitter.com/Palanikannan_M/status/1560511839536001024?t=LZHRKiDDHgTLx7TQVGgYQg&s=19

This is one of the dev scripts I made for opening Rocket.Chat.Electron's dev environment using a single command 😄

[2022-11-11 10:27] vasucp1207 opened #198 "Image slider component broken links"
- Arrow link not working.

https://user-images.githubusercontent.com/85363195/201320921-72dc2820-74b9-4e09-999b-d2398381e3f1.mov

[2022-11-11 13:19] Palanikannan1437 commented on #198
Hey @vasucp1207, good catch there!

Are you willing to submit a PR to fix this issue?

If so, please let us know and feel free to ping us here...we'd be glad to help you out with your first contribution to RC4Community 😄

[2022-11-11 13:21] vasucp1207 commented on #198
@Palanikannan1437, Yes I am interested.

[2022-11-11 13:21] Palanikannan1437 commented on #198
@Sing-Li could you please assign this issue to @vasucp1207! Thank you!

[2022-11-11 19:52] Sing-Li commented on #198
Thanks @Palanikannan1437 !        @vasucp1207 , looking forward to your fixes.

[2022-11-15 10:06] Palanikannan1437 commented on #173
Hey, I suppose this is closed in [this commit](https://github.com/RocketChat/RC4Community/commit/cfad263523fb79be423c37d4a958ee8a1f39d3e2)

If so we could consider closing this issue @debdutdeb, thank you 😄!

[2022-11-16 03:11] r3yc0n1c commented on #198
Hi! I'd like to revamp the fixes which'll work with the svg arrows. Could you please assign it to me?

[2022-11-16 04:36] Palanikannan1437 commented on #198
Hey @Sing-Li , @r3yc0n1c has proposed a solution for this issue as well whilst keeping our design at place💫, could you please assign it to him?

[2022-11-16 07:17] vasucp1207 commented on #198
@Palanikannan1437, I'm working on this as of now if I will not able to do it then I will tell you.

[2022-11-17 05:42] Sing-Li commented on #198
Thanks @r3yc0n1c for the offer 🙏    Let's see if @vasucp1207 can complete the fix as per requirement this week (7 days since issue open).

[2022-11-17 05:49] Sing-Li commented on #182
- [x] auth re-work

- [x ] data initialization improvement

- [ ] role-permission system on superprofile

- [x] substantially more functional build-deploy script

@Dnouv  just brought over the  data initialization ,  @Palanikannan1437 you only have the role-permission system to bring over all

[2022-11-17 06:19] Sing-Li opened #201 "[TO-DO] Create a packaging toolkit for full-stack components"
This is not a beginner task.

But if you have the right "stuff" you will recognize this as one of the most challenging and rewarding issue in this project.   You're creating something here that doesn't exist (yet!).  Anywhere!

Currently, the "full stack components" residing within this project are fully expanded and are subject to cross-talk pollution (devs working on one component mutating/using

[2022-11-17 07:25] Palanikannan1437 commented on #37
Hey @Sing-Li , had no idea this was an existing issue!

Definitely I'd like to work on this after the gitpod issue, it'd be awesome if you could assign this issue to me. Thank you!

[2022-11-17 07:30] Palanikannan1437 commented on #182
Sure thing Sinh, I'll coordinate about this with @Dnouv and make the required changes once I'm done with the already assigned issue 😊

[2022-11-17 10:41] #198 closed

[2022-11-17 19:20] r3yc0n1c commented on #36
Hi @Sing-Li, I'd like to work on this issue. Could you please assign it to me?

[2022-11-18 14:29] Sing-Li commented on #37
Thanks @Palanikannan1437     Assigned.

Please keep in mind the need for scalability in your design.

An ACID / transactional + reactive approach, most natural for these "poll" applications,  will likely not scale.

You'll need to think more along the line of  eventual consistency.   Where each cluster of users will see some intermediate results that may not be consistent with one another.   Only

[2022-11-18 14:37] Sing-Li commented on #201
This is not a small or short-duration project.

We have tried twice, unsuccessfully,  for the past two years.   Two failed multi-months attempts by very capable contributors.

Let's start a discussion here on the approaches / solutions first.

[2022-11-18 15:40] Palanikannan1437 commented on #37
Sure, I'll keep all of this as well in mind and see how it fits with the discussed approach of using RC as a broadcasting service for a poll component! Thank you!

[2022-11-18 18:22] Palanikannan1437 commented on #201
Sure thing @Sing-Li 😇...I hope the poll component would lay off a foundation for this hopefully!!